In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("card.csv")
df.head()

,0,-1.359807134,-0.072781173,2.536346738,1.378155224,-0.33832077,0.462387778,0.239598554,0.098697901,0.36378697,...,-0.018306778,0.277837576,-0.11047391,0.066928075,0.128539358,-0.189114844,0.133558377,-0.021053053,149.62,0.1
0,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
1,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
2,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
3,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
4,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0

In [9]:
df.shape

(689, 52)

In [11]:
df.isna().sum()

1           0
0           0
0.1         0
0.2         0
1.1         0
0.178571    0
0.3         0
1.2         0
0.4         0
0.5         0
0.6         0
0.7         0
1.3         0
0.8         0
0.9         0
0.10        0
0.11        0
0.12        0
0.13        0
0.14        0
0.15        0
0.16        0
0.17        0
0.18        0
0.19        0
0.20        0
0.21        0
1.4         0
0.22        0
0.23        0
1.5         0
0.24        0
0.25        0
0.26        0
0.27        0
0.28        0
0.29        0
0.30        0
0.31        0
0.32        0
0.298246    0
1.6         0
0.33        0
0.34        0
0.35        0
1.7         0
0.36        0
0.37        0
0.38        0
0.39        0
0.40        0
2           0
dtype: int64

In [12]:
df.columns
# the dataset has no labels

Index(['1', '0', '0.1', '0.2', '1.1', '0.178571', '0.3', '1.2', '0.4', '0.5',
       '0.6', '0.7', '1.3', '0.8', '0.9', '0.10', '0.11', '0.12', '0.13',
       '0.14', '0.15', '0.16', '0.17', '0.18', '0.19', '0.20', '0.21', '1.4',
       '0.22', '0.23', '1.5', '0.24', '0.25', '0.26', '0.27', '0.28', '0.29',
       '0.30', '0.31', '0.32', '0.298246', '1.6', '0.33', '0.34', '0.35',
       '1.7', '0.36', '0.37', '0.38', '0.39', '0.40', '2'],
      dtype='object')