In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("card.csv")
df.head()

,1,0,0.1,0.2,1.1,0.178571,0.3,1.2,0.4,0.5,...,0.33,0.34,0.35,1.7,0.36,0.37,0.38,0.39,0.40,2
0,0,1,0,0.110226,0,0.178571,0,1,0,0,...,0,0.0,0,1,0,0,0.000,0,0.000000,2
1,1,0,0,0.223008,0,0.129464,1,0,0,0,...,0,0.0,1,1,0,0,0.050,0,0.000000,2
2,1,0,0,0.078947,0,0.062500,0,1,0,0,...,0,0.0,1,1,0,0,0.056,0,0.169210,2
3,0,1,0,0.530075,0,0.053571,1,0,0,0,...,0,0.0,1,1,0,0,0.050,0,0.289757,2
4,1,0,0,0.142857,0,0.142857,1,0,0,0,...,0,0.0,1,1,0,0,0.080,0,0.000000,1

In [9]:
df.shape

(689, 52)

In [11]:
df.isna().sum()

1           0
0           0
0.1         0
0.2         0
1.1         0
0.178571    0
0.3         0
1.2         0
0.4         0
0.5         0
0.6         0
0.7         0
1.3         0
0.8         0
0.9         0
0.10        0
0.11        0
0.12        0
0.13        0
0.14        0
0.15        0
0.16        0
0.17        0
0.18        0
0.19        0
0.20        0
0.21        0
1.4         0
0.22        0
0.23        0
1.5         0
0.24        0
0.25        0
0.26        0
0.27        0
0.28        0
0.29        0
0.30        0
0.31        0
0.32        0
0.298246    0
1.6         0
0.33        0
0.34        0
0.35        0
1.7         0
0.36        0
0.37        0
0.38        0
0.39        0
0.40        0
2           0
dtype: int64

In [12]:
df.columns
# the dataset has no labels

Index(['1', '0', '0.1', '0.2', '1.1', '0.178571', '0.3', '1.2', '0.4', '0.5',
       '0.6', '0.7', '1.3', '0.8', '0.9', '0.10', '0.11', '0.12', '0.13',
       '0.14', '0.15', '0.16', '0.17', '0.18', '0.19', '0.20', '0.21', '1.4',
       '0.22', '0.23', '1.5', '0.24', '0.25', '0.26', '0.27', '0.28', '0.29',
       '0.30', '0.31', '0.32', '0.298246', '1.6', '0.33', '0.34', '0.35',
       '1.7', '0.36', '0.37', '0.38', '0.39', '0.40', '2'],
      dtype='object')